<div class="footer">Footer</div>
<div class="footer-content">
  <div class="footer-wording">
    <div class="footer-word-group">
      <h4 class="footer-word">About us</h4>
      <ul class="footer-bullet-points">
        <li>会社概要</li>
        <li>沿革</li>
        <li>採用</li>
        <li>CSR</li>
      </ul>
    </div>
    <div class="footer-word-group">
      <h4 class="footer-word">Contact</h4>
      <ul class="footer-bullet-points">
        <li>CEO</li>
        <li>GitHub</li>
      </ul>
    </div>
    <div class="footer-word-group">
      <h4 class="footer-word">Follow us</h4>
      <ul class="footer-bullet-points">
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div>
  </div>
</div>
</body>
