{% load static %}
<!DOCTYPE html>
<head>
<title>Omiyage site POC</title>
<!-- CSS files -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.css' %}" />
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>
